
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: $dark-purple;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .nav-title-wrapper {
        width: 30%;
        
        .nav-title {
            font-size: 1.5rem;
            font-weight: 600;
            color: $brown-green;
        }
    }

    .nav-links-wrapper {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .nav-link {
            color: $green;
            border-bottom: 1px solid transparent;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $blue-green;
                font-weight: 500;
                border-bottom: 1px solid $blue-green;
                transform: scale(1.1);
            }
        }

        .active {
            color: $blue-green;
            font-size: 1.1em;
            font-weight: 500;
            border-bottom: 1px solid $blue-green;
        }
    }
}