
$color9: #000E14;
$color8: #00111A;
$color7: #00141F;
$color6: #001824;
$color5: #001B29;
$color4: #002233;
$color3: #00293D;
$color2: #003047;
$color1: #003652;
$color0: #003D5C;

$brown-green: #664D00;
$orange: #6E2A0C;
$dark-orange: #691312;
$purple: #5D0933;
$dark-purple: #291938;
$blue: #042D3A;
$blue-green: #12403C;
$green: #475200;